@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
}

/* 頁首 */
header {
  top: 0;
  background-color: #716f6a;
  height: 10vh;
  width: 100%;
  position: fixed;
  display: flex;
  
}

.fbicon{
  width: 100%;
  text-align: right;
  padding: 15px;
  margin: -5px 0; 

}
.fbicon a {
  padding:10px;
}

li :hover {
  transition: 0.5s;
  opacity: 0.5;
}


/* 個人檔案 */
.file {
  display: flex;
  background-image: url(/photo/blackboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10vh;
  height: auto;
}

.id {
  display: flex;
  justify-content: center;
}
.id img {
  width: 10%;
  height: 10%;
  margin-top: 10px;
  padding-right: 5px;
}
.id h1 {
  color: white;
  font-size: 45px;
  margin-top: 15px;
}

/* 自我介紹的標題 */
.file h2 {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 45px;
  margin: 0 auto;
  font-family: "Noto Sans TC", sans-serif;
}

/* 自我介紹的列表 */
.file li {
  color: white;
  font-size: 25px;
  padding: 15px;
  font-family: "Noto Sans TC", sans-serif;
}

.about {
  background-color: antiquewhite;
  color: white;
  font-size: 5.5vh;
  height: 98vh;
  background-image: url(/photo/tcust.jpg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

/* 慈科大介紹 */
.about p {
  right: 50vw;
  font-size: 25px;
  color: white;
  margin: 25px 0;
  margin-right: 20vw;
  margin-left: 20vw;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* 了解更多 */
.about a {
  color: white;
  text-decoration: none;
  border: 1px solid #acacac;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(197, 196, 196, 0.2);
}

a:hover {
  transition: 1s;
  opacity: 0.5;
}

.school{
  text-align: center;
  font-size: 5.5vh;
  background-color: #688086;
  color:black;
  font-family: "Noto Sans TC", sans-serif;
}

.pword{
  display: flex;
  text-align: center;
  margin-left: 20vw;
  margin: 10px;
  justify-content:space-evenly;
}

.sc img{
  border-radius: 10px;
  width: 30vw;
  height: auto;
}

/* 頁尾標語 */
footer {
  background-color: black;
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  line-height: 1.8em;
  font-size: 10px;
  overflow: hidden;
}
/* 跑馬燈 */
/* background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange,  red, orange, yellow, green, blue, indigo, violet);
  background-size: 300% 100%;
  animation: gradientAnimation 5s linear infinite; */

/* @keyframes gradientAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
} */
