@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.rotate {
  transform: rotate(0deg) ;
  transition: transform 0.3s ease ;
}

.rotate:hover {
  transform: rotate(45deg) ;
}

.zoom-in {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.zoom-in:hover {
  color: white;
  background-color: #716f6a;
  border-radius: 10px;
  
}

/* 頁首 */
header {
  top: 0;
  background-color: #716f6a;
  height: 10vh;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 111;
}

.fbicon{
  width: 100%;
  text-align: right;
  padding: 15px;
  margin: -5px 0; 

}
.fbicon a {
  padding:10px;
}

/* 個人檔案 */
.file {
  display: flex;
  background-image: url(/photo/blackboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
  height: auto;
}

.id {
  display: flex;
  justify-content: center;
}
.id img {
  width: 10%;
  height: 10%;
  margin-top: 10px;
  padding-right: 5px;
}
.id h1 {
  color: white;
  font-size: 45px;
  margin-top: 15px;
}

/* 自我介紹的標題 */
.file h2 {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 45px;
  margin: 0 auto;
  font-family: "Noto Sans TC", sans-serif;
}

/* 自我介紹的列表 */
.file li {
  color: white;
  font-size: 25px;
  padding: 15px;
  font-family: "Noto Sans TC", sans-serif;
}

.about {
  background-color: antiquewhite;
  color: white;
  font-size: 5.5vh;
  height: 98vh;
  background-image: url(/photo/tcust.jpg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

/* 慈科大介紹 */
.about p {
  right: 50vw;
  font-size: 25px;
  color: white;
  margin: 25px 0;
  margin-right: 20vw;
  margin-left: 20vw;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* 了解更多 */
.about button {
  font-size: 25px;
  color: white;
  text-decoration: none;
  border: 1px solid #acacac;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(197, 196, 196, 0.2);
  transition: background-color 0.5s ;
}

.button :hover{
  color: white;
  background-color: #716f6a;
}

.fbicon a:hover {
  transition: 1s;
  opacity: 0.5;
}

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
  background-image: url(/photo/back.jpg);
  background-size: cover;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  font-size: 30px;
}


.timeline img{
  margin-left: 13vw;
  margin-top: -130px;
}

/* 時間線中線 */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* 時間線中點 */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: gainsboro;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* 時間線格子大小 */
.content {
  padding: 80px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;

}



/* 頁尾標語 */
footer {
  background-color: black;
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  line-height: 1.8em;
  font-size: 30px;
  overflow: hidden;
}


/* 跑馬燈 */
/* background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange,  red, orange, yellow, green, blue, indigo, violet);
  background-size: 300% 100%;
  animation: gradientAnimation 5s linear infinite; */

/* @keyframes gradientAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
} */